.std-text {
	font-family: monospace;
	color: white;
	margin: 20px 0px 20px 0px;
}
.btn-group {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.btn-group button {
  background-color: #00ff00; /* Green background */
  color: black; /* White text */
  padding: 10px; /* Some padding */
  margin: 0px 5px 0px 5px;
  cursor: pointer; /* Pointer/hand icon */
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:hover {
  background-color: #008800;
}
.center-div {
	margin-left: auto;
	margin-right: auto;
}